
@media only screen and (min-width: 768px) and (max-width: 959px) {

.logos img {
padding-right: 25px;
}

.menu ul li {
padding: 8px;
padding-top: 15px;
}

.fique-sabendo-texto h5 {
width: 240px
}

.fique-sabendo {
margin-bottom: 45px;
}

.calendario {
margin-left: 25%;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) { 

.logos {
text-align: center;
}

.logos img {
padding-right: 25px;
}

.redes {
margin-top: 30px;
}

.pesquisa {
margin-top: 30px;
}

.pesquisa img {
width: 100%;
}

.menu {
display: none;
}

.online {
margin-top: 30px;
margin-left: 0px;
margin-right: 0px;
text-align: center;
}

.banner {
margin-top: 30px;
}

.large-6.columns.fique-sabendo-texto {
width: 50%;
}

.large-12.columns.calendario-evento {
width: 50%;
}
 
}
 
@media only screen and (max-width: 479px) {

.logos {
text-align: center;
margin-top: 0px;
}

.logos img {
padding-right: 15px;
padding-top: 15px;
}

.redes {
margin-top: 30px;
text-align: center;
}

.pesquisa {
margin-top: 30px;
}

.pesquisa img {
width: 100%;
}

.menu {
display: none;
}

.online img {
width: 100%;
}

.online {
margin-top: 29px;
margin-left: 0px;
margin-right: 0px;
}

.banner {
margin-top: 30px;
}

.noticias img#noticia-img {
margin-top: 30px;
}

img#calendario-data {
margin-top: 30px;
}

.large-3.columns.facebook {
text-align: center;
}

.large-6.columns.estude {
margin-top: 30px;
}

.videos img {
margin-top: 30px;
}

}

