/*home*/

/*top*/

.logos {
margin-top: 40px;
}

.logos img {
padding-right: 50px;
}

.redes {
margin-top: 100px;
}

.pesquisa {
margin-top: 100px;
}

.menu ul {
display: -webkit-box;
margin: 0px;
}

.menu ul li {
list-style: none;
padding: 23px;
padding-top: 15px;
color:#ffffff
}

.menu ul li:hover {
background-image: url(../images/menu-hover.png);
color:#0071bd;
height: 70px;
background-repeat-y: no-repeat;
}

.menu{
background-image: url(../images/fundo-menu.png);
background-repeat-y: no-repeat;
margin-top: 30px;
padding: 0px;
height: 70px;
margin-left: 15px;
margin-right: -15px;
}

.banner img {
width: 100%;
}
.online {
margin-top: 29px;
margin-left: 15px;
margin-right: -15px;
}

/*fim top*/

/*meio*/
.noticias {
margin-top: 25px;
}

.noticias img#noticia-img {
margin-top: 12px;
width: 100%;
}

img#noticias-botao {
float: right;
margin-top: 15px;
}

.noticias img#titulo {
width: 100%;
}

.noticias h5 {
font-size: 12px;
color: #074466;
}

.noticias h6 {
font-size: 10px;
color: #074466;
background-image: url(../images/noticias-fundo.png);
background-repeat: no-repeat;
padding-left: 15px;
background-position: 0px 3px;
border-top: 1px groove #e4e4e4;
}

.fique-sabendo {
margin-top: 25px;
}

.fique-sabendo img#titulo {
width: 100%;
}

.large-6.columns.fique-sabendo-texto {
padding: 0px;
margin-top: 12px;
display: -webkit-box;
}

.fique-sabendo-texto h5 {
font-size: 12px;
color: #074466;
width: 130px;
padding-left:5px;
}

.calendario {
margin-top: 25px;
}

img#calendario-data {
margin-top: 12px;
width: 100%;
}

.calendario-evento h5 {
font-size: 12px;
color: #074466;
}

.calendario img#titulo {
width: 100%;
}

.large-12.columns.calendario-evento {
padding: 0px;
margin-top: 15px;
display: -webkit-box;
}

.calendario-evento h5 {
font-size: 12px;
color: #074466;
width: 172px;
padding-left: 5px;
}

.large-12.columns.manual {
text-align: center;
margin-top: 15px;
border-bottom: 4px groove #0071bd;
width: 98%;
margin-right: 15px;
}


/*fim meio*/

/*fim home*/