
.interna h2 {
color: #0071ba;
font-size: 24px;
font-weight: bold;
}

.interna p {
color: #666666;
font-size: 18px;
}

img#idj-image {
width: 100%;
margin-bottom: 15px;
}

img.large-4.columns.missao {
padding-left: 0px;
}

img.large-4.columns.valores {
padding-right: 0px;
}

img.large-4.columns.visao {
padding-left: 7.5px;
padding-right: 7.5px;
}

.idj-image {
margin-top: 10px;
}

