/*home*/

/*top*/

.logos {
margin-top: 40px;
}

.logos img {
padding-right: 50px;
}

.redes {
margin-top: 100px;
}

.pesquisa {
margin-top: 100px;
}

.menu ul {
display: -webkit-box;
margin: 0px;
}

.menu ul li {
list-style: none;
padding: 23px;
padding-top: 15px;
color:#ffffff
}

.menu ul li:hover {
background-image: url(../images/menu-hover.png);
color:#0071bd;
height: 70px;
background-repeat-y: no-repeat;
}

.menu{
background-image: url(../images/fundo-menu.png);
background-repeat-y: no-repeat;
margin-top: 30px;
padding: 0px;
height: 70px;
margin-left: 15px;
margin-right: -15px;
}

.banner img {
width: 100%;
}
.online {
margin-top: 29px;
margin-left: 15px;
margin-right: -15px;
}

/*fim top*/

/*fim home*/