
@media only screen and (min-width: 768px) and (max-width: 959px) {

.logos img {
padding-right: 25px;
}

.menu ul li {
padding: 8px;
padding-top: 15px;
}

.fique-sabendo-texto h5 {
width: 240px
}

.fique-sabendo {
margin-bottom: 45px;
}

.calendario {
margin-left: 25%;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}
 
@media only screen and (max-width: 479px) {

}

